.App-container {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
  }
  