.App-container {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}


@media only screen and (max-width: 667px) {
  .App-container {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
}

@media only screen and (max-width: 375px) {
  .App-container {
    padding: 5px;
  }
}

